{
  "openapi": "3.1.1",
  "info": {
    "title": "SCX.ai API - mined candidate",
    "version": "2026-07-07",
    "description": "Generated from https://platform.scx.ai/api-reference when no official OpenAPI document was discoverable."
  },
  "servers": [
    {
      "url": "https://api.scx.ai/v1"
    }
  ],
  "paths": {
    "/audio/speech": {
      "post": {
        "summary": "Create speech",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Streamed binary audio in the requested format.",
            "content": {
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/pcm": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeechRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SpeechRequest"
              }
            }
          }
        }
      }
    },
    "/audio/transcriptions": {
      "post": {
        "summary": "Create transcription",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioTextResponse"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AudioTranscriptionRequest"
              }
            }
          }
        }
      }
    },
    "/audio/translations": {
      "post": {
        "summary": "Create translation",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioTextResponse"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AudioTranscriptionRequest"
              }
            }
          }
        }
      }
    },
    "/audio/voices/{voice_id}": {
      "delete": {
        "summary": "Delete voice",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "voice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/audio/voices": {
      "get": {
        "summary": "List voices",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": []
      },
      "post": {
        "summary": "Create voice",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/VoiceCreateRequest"
              }
            }
          }
        }
      }
    },
    "/batches/{batch_id}/cancel": {
      "post": {
        "summary": "Cancel batch",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/batches/{batch_id}": {
      "get": {
        "summary": "Retrieve batch",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/batches": {
      "get": {
        "summary": "List batches",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchListResponse"
                }
              }
            }
          }
        },
        "parameters": []
      },
      "post": {
        "summary": "Create batch",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateRequest"
              }
            }
          }
        }
      }
    },
    "/chat/completions": {
      "post": {
        "summary": "Create chat completion",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        }
      }
    },
    "/completions": {
      "post": {
        "summary": "Create completion",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionRequest"
              }
            }
          }
        }
      }
    },
    "/embeddings": {
      "post": {
        "summary": "Create embeddings",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              }
            }
          }
        }
      }
    },
    "/messages": {
      "post": {
        "summary": "Create message",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessageResponse"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicMessageRequest"
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "summary": "List models",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListResponse"
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/moderations": {
      "post": {
        "summary": "Create moderation",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModerationRequest"
              }
            }
          }
        }
      }
    },
    "/realtime": {
      "get": {
        "summary": "Realtime audio (WebSocket)",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/responses/{response_id}": {
      "delete": {
        "summary": "Delete response",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "response_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "summary": "Retrieve response",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "response_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/responses": {
      "post": {
        "summary": "Create response",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponseCreateRequest"
              }
            }
          }
        }
      }
    },
    "/vector-stores/{store_id}/files/{file_id}": {
      "delete": {
        "summary": "Delete file",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/vector-stores/{store_id}/files": {
      "get": {
        "summary": "List files",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "Upload file",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/VectorStoreFileUploadRequest"
              }
            }
          }
        }
      }
    },
    "/vector-stores/{store_id}/search": {
      "post": {
        "summary": "Search",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VectorStoreSearchRequest"
              }
            }
          }
        }
      }
    },
    "/vector-stores/{store_id}": {
      "delete": {
        "summary": "Delete vector store",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "summary": "Retrieve vector store",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/vector-stores": {
      "get": {
        "summary": "List vector stores",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": []
      },
      "post": {
        "summary": "Create vector store",
        "x-scx-mined": true,
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VectorStoreCreateRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ObjectResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "ModelListResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModelObject"
            }
          }
        }
      },
      "ModelObject": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "context_length": {
            "type": "integer"
          },
          "max_output_length": {
            "type": "integer"
          },
          "pricing": {
            "type": "object",
            "additionalProperties": true
          },
          "supported_sampling_parameters": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "supported_features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "datacenters": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "role": {
            "type": "string"
          },
          "content": {}
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "additionalProperties": true,
        "properties": {
          "model": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "type": {
                  "type": "string",
                  "description": "SCX accepts OpenAI function tools and SCX server tools.",
                  "enum": [
                    "function",
                    "web_search",
                    "code_interpreter",
                    "file_retrieval",
                    "academic_search",
                    "youtube_search",
                    "reddit_search",
                    "x_search",
                    "mcp_search",
                    "trove_search",
                    "retrieve",
                    "movie_tv_search",
                    "trending_movies",
                    "trending_tv",
                    "mermaid_diagram",
                    "coin_data",
                    "coin_data_by_contract",
                    "coin_ohlc",
                    "currency_converter",
                    "stock_chart",
                    "stock_price",
                    "find_place_on_map",
                    "nearby_places_search",
                    "weather",
                    "travel_advisor",
                    "flight_tracker",
                    "flight_live_tracker",
                    "datetime",
                    "greeting",
                    "text_translate",
                    "memory_manager"
                  ]
                },
                "function": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "auto",
                  "required",
                  "none"
                ]
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          },
          "response_format": {},
          "reasoning_effort": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ],
            "description": "Function-calling guide recommends high for gpt-oss-120b tool-calling quality."
          },
          "stream": {
            "type": "boolean"
          },
          "logprobs": {
            "type": "boolean",
            "deprecated": true,
            "description": "Currently unsupported by SCX OpenAI compatibility and ignored."
          },
          "top_logprobs": {
            "type": "integer",
            "deprecated": true,
            "description": "Currently unsupported by SCX OpenAI compatibility and ignored."
          },
          "n": {
            "type": "integer",
            "deprecated": true,
            "description": "Currently unsupported by SCX OpenAI compatibility and ignored."
          },
          "logit_bias": {
            "type": "object",
            "additionalProperties": true,
            "deprecated": true,
            "description": "Currently unsupported by SCX OpenAI compatibility and ignored."
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "SCX OpenAI-compatibility safe range is 0..1."
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "top_k": {
            "type": "integer",
            "minimum": 0
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "frequency_penalty": {
            "type": "number",
            "deprecated": true,
            "description": "OpenAI compatibility guide says this parameter is currently unsupported and ignored."
          },
          "presence_penalty": {
            "type": "number",
            "deprecated": true,
            "description": "OpenAI compatibility guide says this parameter is currently unsupported and ignored."
          },
          "seed": {
            "type": "integer",
            "deprecated": true,
            "description": "OpenAI compatibility guide says this parameter is currently unsupported and ignored."
          }
        }
      },
      "ResponseCreateRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "additionalProperties": true,
        "properties": {
          "model": {
            "type": "string"
          },
          "input": {},
          "instructions": {
            "type": "string"
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "type": {
                  "type": "string",
                  "description": "SCX accepts OpenAI function tools and SCX server tools.",
                  "enum": [
                    "function",
                    "web_search",
                    "code_interpreter",
                    "file_retrieval",
                    "academic_search",
                    "youtube_search",
                    "reddit_search",
                    "x_search",
                    "mcp_search",
                    "trove_search",
                    "retrieve",
                    "movie_tv_search",
                    "trending_movies",
                    "trending_tv",
                    "mermaid_diagram",
                    "coin_data",
                    "coin_data_by_contract",
                    "coin_ohlc",
                    "currency_converter",
                    "stock_chart",
                    "stock_price",
                    "find_place_on_map",
                    "nearby_places_search",
                    "weather",
                    "travel_advisor",
                    "flight_tracker",
                    "flight_live_tracker",
                    "datetime",
                    "greeting",
                    "text_translate",
                    "memory_manager"
                  ]
                },
                "function": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "tool_choice": {},
          "stream": {
            "type": "boolean"
          },
          "previous_response_id": {
            "type": "string",
            "description": "Continue from a stored previous response."
          },
          "max_output_tokens": {
            "type": "integer",
            "minimum": 1
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "store": {
            "type": "boolean",
            "default": true
          },
          "response_format": {},
          "text": {
            "type": "object",
            "additionalProperties": true,
            "description": "Text output configuration, including plain text, JSON, or JSON Schema structured output."
          },
          "reasoning": {
            "type": "object",
            "additionalProperties": true
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "SCX OpenAI-compatibility safe range is 0..1."
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "top_k": {
            "type": "integer",
            "minimum": 0
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "frequency_penalty": {
            "type": "number",
            "deprecated": true,
            "description": "OpenAI compatibility guide says this parameter is currently unsupported and ignored."
          },
          "presence_penalty": {
            "type": "number",
            "deprecated": true,
            "description": "OpenAI compatibility guide says this parameter is currently unsupported and ignored."
          },
          "seed": {
            "type": "integer",
            "deprecated": true,
            "description": "OpenAI compatibility guide says this parameter is currently unsupported and ignored."
          }
        }
      },
      "AnthropicMessageRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "additionalProperties": true,
        "properties": {
          "model": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "system": {},
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "type": {
                  "type": "string",
                  "description": "SCX accepts OpenAI function tools and SCX server tools.",
                  "enum": [
                    "function",
                    "web_search",
                    "code_interpreter",
                    "file_retrieval",
                    "academic_search",
                    "youtube_search",
                    "reddit_search",
                    "x_search",
                    "mcp_search",
                    "trove_search",
                    "retrieve",
                    "movie_tv_search",
                    "trending_movies",
                    "trending_tv",
                    "mermaid_diagram",
                    "coin_data",
                    "coin_data_by_contract",
                    "coin_ohlc",
                    "currency_converter",
                    "stock_chart",
                    "stock_price",
                    "find_place_on_map",
                    "nearby_places_search",
                    "weather",
                    "travel_advisor",
                    "flight_tracker",
                    "flight_live_tracker",
                    "datetime",
                    "greeting",
                    "text_translate",
                    "memory_manager"
                  ]
                },
                "function": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "tool_choice": {},
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "SCX OpenAI-compatibility safe range is 0..1."
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "top_k": {
            "type": "integer",
            "minimum": 0
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "frequency_penalty": {
            "type": "number",
            "deprecated": true,
            "description": "OpenAI compatibility guide says this parameter is currently unsupported and ignored."
          },
          "presence_penalty": {
            "type": "number",
            "deprecated": true,
            "description": "OpenAI compatibility guide says this parameter is currently unsupported and ignored."
          },
          "seed": {
            "type": "integer",
            "deprecated": true,
            "description": "OpenAI compatibility guide says this parameter is currently unsupported and ignored."
          }
        }
      },
      "CompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "additionalProperties": true,
        "properties": {
          "model": {
            "type": "string"
          },
          "prompt": {},
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "SCX OpenAI-compatibility safe range is 0..1."
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "top_k": {
            "type": "integer",
            "minimum": 0
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "frequency_penalty": {
            "type": "number",
            "deprecated": true,
            "description": "OpenAI compatibility guide says this parameter is currently unsupported and ignored."
          },
          "presence_penalty": {
            "type": "number",
            "deprecated": true,
            "description": "OpenAI compatibility guide says this parameter is currently unsupported and ignored."
          },
          "seed": {
            "type": "integer",
            "deprecated": true,
            "description": "OpenAI compatibility guide says this parameter is currently unsupported and ignored."
          }
        }
      },
      "EmbeddingRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "additionalProperties": true,
        "properties": {
          "model": {
            "type": "string"
          },
          "input": {},
          "dimensions": {
            "type": "integer"
          },
          "encoding_format": {
            "type": "string"
          }
        }
      },
      "ModerationRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "additionalProperties": true,
        "properties": {
          "model": {
            "type": "string"
          },
          "input": {}
        }
      },
      "AudioTranscriptionRequest": {
        "type": "object",
        "required": [
          "file",
          "model"
        ],
        "additionalProperties": true,
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "Audio file. Documented limit: 25 MB for translation/transcription endpoints."
          },
          "model": {
            "type": "string",
            "examples": [
              "Whisper-Large-v3"
            ]
          },
          "language": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "response_format": {
            "type": "string",
            "enum": [
              "json",
              "text",
              "srt",
              "verbose_json",
              "vtt"
            ],
            "default": "json",
            "description": "When stream=true, SCX documents json as the only supported format."
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "SCX extension: streams transcript.text.delta and transcript.text.done SSE events."
          }
        }
      },
      "AudioTextResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "text": {
            "type": "string"
          }
        }
      },
      "SpeechRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "additionalProperties": true,
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "scx-tts"
            ],
            "description": "Current public SCX speech model."
          },
          "input": {
            "type": "string",
            "maxLength": 5000,
            "description": "Text to synthesise. Server auto-splits long inputs at sentence boundaries under this cap."
          },
          "voice": {
            "type": "string",
            "description": "Optional stored Wordcab voice ID such as voice_...; omit for gateway default voice."
          },
          "response_format": {
            "type": "string",
            "enum": [
              "mp3",
              "wav",
              "pcm"
            ],
            "default": "wav"
          },
          "speed": {
            "type": "number",
            "minimum": 0.25,
            "maximum": 4,
            "default": 1,
            "description": "Model hint, not a precise linear duration multiplier."
          },
          "voice_ref_wav_b64": {
            "type": "string",
            "contentEncoding": "base64",
            "description": "scx-tts inline voice-cloning reference audio, recommended 5-10 seconds."
          },
          "voice_ref_wav_format": {
            "type": "string",
            "enum": [
              "mp3",
              "wav",
              "pcm"
            ],
            "default": "wav"
          },
          "ref_text": {
            "type": "string",
            "description": "Exact transcript of voice_ref_wav_b64 for full prosodic cloning; omit for embedding-only mode."
          },
          "x_vector_only_mode": {
            "type": "boolean",
            "description": "When true, use only speaker embedding and skip prosodic conditioning."
          },
          "max_new_tokens": {
            "type": "integer",
            "minimum": 30,
            "maximum": 4096,
            "default": 512,
            "description": "Audio-token cap; 512 is documented as roughly 39 seconds."
          }
        }
      },
      "VoiceCreateRequest": {
        "type": "object",
        "required": [
          "file"
        ],
        "additionalProperties": true,
        "properties": {
          "name": {
            "type": "string"
          },
          "file": {
            "type": "string",
            "format": "binary",
            "description": "Reference audio used to enroll a stored voice_... ID."
          },
          "ref_text": {
            "type": "string"
          }
        }
      },
      "BatchCreateRequest": {
        "type": "object",
        "required": [
          "input_file_id",
          "endpoint",
          "completion_window"
        ],
        "additionalProperties": true,
        "properties": {
          "input_file_id": {
            "type": "string"
          },
          "endpoint": {
            "type": "string"
          },
          "completion_window": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "VectorStoreCreateRequest": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "name": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "VectorStoreFileUploadRequest": {
        "type": "object",
        "required": [
          "file"
        ],
        "additionalProperties": true,
        "properties": {
          "file": {
            "type": "string",
            "format": "binary"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "VectorStoreSearchRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "additionalProperties": true,
        "properties": {
          "query": {},
          "max_num_results": {
            "type": "integer"
          },
          "filters": {}
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "AnthropicMessageResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "ResponseObject": {
        "type": "object",
        "additionalProperties": true
      },
      "EmbeddingResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "BatchListResponse": {
        "type": "object",
        "additionalProperties": true
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-scx-doc-notes": {
    "openai_compatibility": {
      "base_url": "https://api.scx.ai/v1",
      "unsupported_openai_parameters_ignored": [
        "logprobs",
        "top_logprobs",
        "n",
        "presence_penalty",
        "frequency_penalty",
        "logit_bias",
        "seed"
      ],
      "scx_only_parameters": [
        "top_k"
      ],
      "temperature_range": "0..1 in the OpenAI compatibility guide; some API reference pages still describe 0..2. Treat 0..1 as the compatibility-safe client range."
    },
    "speech": {
      "current_public_model": "scx-tts",
      "default_response_format": "wav",
      "stored_voice_ids": "Enroll with POST /v1/audio/voices and pass returned voice_... ID as voice.",
      "inline_voice_cloning": [
        "voice_ref_wav_b64",
        "voice_ref_wav_format",
        "ref_text",
        "x_vector_only_mode"
      ]
    }
  }
}